body {
  background-color: #333;
  font-size: 200%;
  font-family: "ubuntu";
  text-align: center;
  // .App {
  //   background-color: red;
  //   width: 300px;
  //   padding: 50px;
  //   margin-left: 800px;
  //   margin-top: 300px;
  // }
}
